body{
    display: grid;
      height: 100vh;
    place-items: center;
    background: #42989b;
    }
    .container {
    
        border-radius: 9px;
    background: #ffffff;
    box-shadow:  2px 2px 12px #d6d6d6,
                 -2px -2px 12px #ffffff;
    
        width: 300px;
        height: 400px;
    padding: 10px;
    
    }
    
    .keys {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        padding: 10px;
        margin:auto;
    }
    
    .button {
        height: 60px;
        padding: 5px;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #c4c4c4;
        background-color: transparent;
        font-size: 2rem;
        color: #333;
        background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0,0,0,.04));
        box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
        text-shadow: 0 1px rgba(255,255,255,.4);
    }
    
    input{
    outline: none;
      border: 1px solid transparent;
    }
    
    .button:hover {
        background-color: #eaeaea;
    }
    
    .operator {
    font-size: 1.4rem;
        background-color: lightgreen;
    }
    
    .clear {
        background-color: #f0595f;
        border-color: #b0353a;
        color: #fff;
        width: 80px;
        height: 40px;  
    }
    
    .clear:hover {
        background-color: #f17377;
    }
    
    .equal-sign {
        background-color: #25a8e0;
        border-color: #25a8e0;
        color: #fff;
    }
    
    .equal-sign:hover {
        background-color: #4e9ed4;
    }
    
    .screen{
        background-color:rgb(171, 219, 231);
        justify-content: left;
        color: black;
        font-size: medium;
        width: 50%;
        height: 30%;
        cursor: default;
        padding: 10px; 
        padding-left: 40%;
        margin: auto;
        margin-bottom: 10px;
    }
    
    .calc {
       color: #da25e0;
       margin-left: 10px;
       cursor: pointer;
    }
    .site {
        text-decoration: none;
        color: #9735b0;
        margin-left: 10px;
        font-size: 1.2rem;
        cursor: pointer;
    }
    .line {
        color: #3597b0;
        margin-left: 50px;
        font-size: 1.2rem;
        cursor: pointer;
       
    }
